<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="bysj.swzl.mapper.MajorMapper">
   
   <!-- 获取全部专业信息 -->
   <select id="getAllMajor" resultType="major">
     SELECT `id`,`code`,`desc`,`iid` FROM `major`
   </select>
   
   <!-- 查询专业 -->
   <select id="getMajorById" parameterType="int" resultType="major">
     SELECT `id`,`code`,`desc`,`iid` FROM `major`
     WHERE `id`=#{id}
   </select>
   
   <!-- 查询对应学院的所有专业 -->
   <select id="queryAllMajor" parameterType="int" resultType="major">
     SELECT `id`,`code`,`desc`,`iid` FROM `major` WHERE `iid`=#{iid}
   </select>
   <!-- 给指定的学院添加相应的专业 -->
   <insert id="addMajor" parameterType="major">
     <selectKey keyProperty="id" order="AFTER" resultType="int">
       select LAST_INSERT_ID()
     </selectKey>
       INSERT INTO `major` (`code`, `desc`, `iid`) VALUES
       (#{code}, #{desc}, #{iid}) ;
   </insert>
   <!-- 删除专业 -->
   <delete id="removeMajors" parameterType="list">
     DELETE FROM `major` 
     <where>
       <foreach collection="list" item="id" open="and id in(" separator="," close=")">
          #{id}
       </foreach>
     </where>
   </delete>
   <!-- 删除对应学院的所有专业 -->
   <delete id="deleteMajorByIids" parameterType="list">
     DELETE FROM `major` 
     <where>
       <foreach collection="list" item="iid" open="and iid in(" separator="," close=")">
          #{iid}
       </foreach>
     </where>
   </delete>
   
   <!-- 更新专业信息 -->
   <update id="updateMajor" parameterType="major">
     update `major` 
      set `code` = #{code},`desc` = #{desc},`iid` = #{iid} 
    where `id` = #{id} 
   </update>
   
   
   
   
   
   
   
</mapper>